body {background-color:#fff;}
input,textarea{color:gray;padding:1px 3px;}
#user .logout{display:none;}
#left{display:none;}
#right {display:none;}
.no-print{display:none;}
th.no-print{display:none;}
td.no-print{display:none;}
.btn-group{display:none;}
.screen {display:none;width:0;height:0;}
.left-menu {display:none;}
.top-menu {display:none;}

@media (min-width: 6in) and (max-width: 9in){
	#main{}
}
fieldset{border: none;}
.grid-label {font-weight:bold;}
.inputbox {border:none;}
.th {font-weight:bold;}
.modal {display:none;}
.doc-title{font-size:14px;font-weight:normal;font-variant:italic;text-align:center;}
.form .row>div{float:left;width:25%;}
.cell {border:1px solid #888;float:left;height:20px;}
.th .cell {border:1px solid #888;height:20px;}







